<!DOCTYPE html>
<html>

<head>

    <title>About Us</title>
<style>

body{
    background-image:url("{{ url_for('static', filename='food.jpeg') }}");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    padding:40px;
    background-attachment:fixed;
}

h1{
    color:white;
    text-align:center;
    font-size:40px;
}

h2{
    
    color:yellow;
    background:rgba(0,0,0,0.5);
}

p{
    font-size:18px;
    text-align:justify;
    color:white;
    padding:10px;
    border-radius:10px;
}

</style>
</head>

<body>
    <h1>About Us</h1>

    <p>
        Welcome to our TasteGo website.
    </p>

    <p>
        Our main goal is to provide delicious, healthy and quality food to our customers in a fast and easy way.
    </p>

    <p>
        We believe that food is not just something to eat. It is an emotion that brings happiness and satisfaction to everyone.
    </p>

    <p>
        That is why we created this website using Flask and HTML to make food ordering simple, user-friendly and comfortable for all people.
    </p>

    <p>
        Our website contains different types of tasty food items such as pizza, veg items and non-veg items and many more.
    </p>

    <p>
        Customers can easily view the food menu, know the prices and place orders without any confusion.
    </p>

    <p>
        We always focus on customer satisfaction, cleanliness, food quality and quick delivery service.
    </p>

    <p>
        Our dream is to create one of the best online food ordering platforms where people can enjoy their favorite foods anytime and anywhere.
    </p>

    <p>
        Thank you for visiting our website and supporting us.
    </p>

    <p>
        Your happiness and satisfaction are always important to us.
    </p>

    <h2 align="center">Thank You So Much !!!</h2>

</body>

</html>